/*========================== Variables ==========================*/

:root {
  --color-primary: #253b3f;
  --color-secondary: #717174;
  --color-terciary: #fff;

  --studentspace-regular: 'StudentSpace-Regular';
  --studentspace-medium: 'StudentSpace-Medium';
  --studentspace-bold: 'StudentSpace-Bold';

  --montserrat-extrabold : 'Montserrat-ExtraBold';

}
